# Ignorar archivos compilados
*.exe
*.o
*.out
*.a
*.so

# Ignorar archivos de backup
*.bak
*.tmp
*.swp

# Ignorar directorios de construcción
build/
bin/
obj/


# Ignorar archivos de configuración de IDE
*.code-workspace
.vscode/
*.cbp
*.depend
*.layout
